.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line{
  display: flex;
  justify-content: center;
}

.Button{
  margin: 20px;
  border: none;
  padding: 8px;
  font: message-box;
  border-radius: 5px;
  color:rgb(10, 0, 0);
  background-color: green;
}

.Button:hover{
  background-color: red;
  color: white;
  cursor: pointer;
}

.player{
  min-width: 308px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: cursive;
}